<div id="<%= dom_id lignes_commande %>">
  <p>
    <strong>Nom:</strong>
    <%= lignes_commande.nom %>
  </p>

  <p>
    <strong>Quantite:</strong>
    <%= lignes_commande.quantite %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= lignes_commande.prix %>
  </p>

  <p>
    <strong>Commentaires:</strong>
    <%= lignes_commande.commentaires %>
  </p>

   <strong>Commnde id:</strong>
    <%= lignes_commande.commande_id %>
  </p>

</div>
