<div id="<%= dom_id article %>">
  <p>
    <strong>Nom:</strong>
    <%= article.nom %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Categorie:</strong>
    <%= article.categorie %>
  </p>

  <p>
    <strong>Couleur:</strong>
    <%= article.couleur %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= article.prix %>
  </p>

</div>
