<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :categorie, style: "display: block" %>
    <%= form.text_field :categorie %>
  </div>

  <div>
    <%= form.label :couleur, style: "display: block" %>
    <%= form.text_field :couleur %>
  </div>

  <div>
    <%= form.label :prix, style: "display: block" %>
    <%= form.text_field :prix %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
