<%= form_with(model: produit) do |form| %>
  <% if produit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(produit.errors.count, "error") %> prohibited this produit from being saved:</h2>

      <ul>
        <% produit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="card text-dark bg-light mb-3" style="max-width: 1080px;">
    <div class="card-header fw-bold fs-2">Editer produit</div>
    
      <div class="row g-0">
        <div class="col-md-4">
            <% if produit.image.attached? %> 
              <%= image_tag produit.image, style: "width: 200px; display: block", class: "img-fluid rounded-start" %>
            <% end %>
            <%= form.file_field :image %>
        
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
                <%= form.label :nom %>  
                <%= form.text_field :nom, class:"form-control", placeholder:"nom"  %>
            </h5>
            <p class="card-text">
                <%= form.label :description, style: "display: block" %>
                <%= form.text_field :description, class:"form-control", placeholder:"description"  %>
              </p>
          
            <p class="card-text">
                <%= form.label :prix, style: "display: block" %>
                <%= form.text_field :prix, class:"form-control", placeholder:"prix"  %> 
                <%= form.label :taille, style: "display: block" %>
                <%#= form.select :taille, ['Small', 'Medium', 'Large']%>
                 <%= form.select :taille, Produit.tailles %> 
            </p>

            <div class="field">
                <%= form.label :category %>
              
            </div>

            <p class="card-text">
              <%= form.submit value: 'Valider', class:'btn btn-warning' %>
            </p>

            <p class="card-text">
          
                  <%= link_to "", @produit, class:"fa-solid fa-eye btn btn-primary" %> 
                  <%#= button_to "", @produit, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash-can btn btn-danger" %>
                  
                  <%= button_to 'Supprimer', @produit, method: :delete, :onclick => "return confirm('Sûr ?')", class:"btn btn-danger" %> 

                  <%= link_to "", produits_path, class:"fa-solid fa-rotate-left btn btn-secondary" %>
              
            </p>

          </div>
        </div>

  <% end %>
