<br/>
<h1 class="fa-solid fa-shirt fa-2xl fw-bold fs-1"> - Produit</h1>   
<hr/> 

<div class="card mb-3" style="max-width: 540px;">
  <div class="card-header fw-bold fs-2">
    <%= @produit.nom %>
  </div>
  
  <div class="row g-0">
    <div class="col-md-4">
    <% if @produit.image.attached? %> 
      <%= image_tag(@produit.image, class:"img-fluid rounded-start", style: "width: 200px; display: block") %>
    <% end %>

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">
          <%= @produit.description %>
        </p>
        <p class="card-text">
         <hr class="my-4">
            <%= @produit.prix %> € |
            <%= @produit.taille %> 
          <hr class="my-4">
      
        </p>

         <p class="card-text">
              <%= link_to "", edit_produit_path(@produit), class:"fa-regular fa-pen-to-square btn btn-secondary" %> 
              <%= link_to "", @produit, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash-can btn btn-danger" %>
              <%= link_to "", produits_path, class:"fa-solid fa-rotate-left btn btn-secondary" %>
          </p>

      </div>
    </div>
  </div>
</div>


