
<h1> Détails produit </h1>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
    <% if @produit.image.attached? %> 
      <%= image_tag(@produit.image, class:"img-fluid rounded-start", style: "width: 200px; display: block") %>
    <% end %>

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
         <%= @produit.nom %>
        </h5>
        <p class="card-text">
          <%= @produit.description %>
        </p>
        <p class="card-text">
         <hr class="my-4">
            <%= @produit.prix %> € |
            <%= @produit.taille %> 
          <hr class="my-4">
 
          <%= link_to "", edit_produit_path(@produit), class:"fa-regular fa-pen-to-square btn btn-primary" %> 

          <%= link_to "", produits_path, class:"fa-solid fa-arrow-rotate-left btn btn-secondary" %>
         
          <%= button_to '', @produit, class:"fa-solid fa-trash-can btn btn-danger", method: :delete, :onclick => "return confirm('Sûr ?')" %> 

        </p>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>