
<h1> Détails produit </h1>

<div class="jumbotron">
  <h1 class="display-4">
    <%= @produit.nom %>
  </h1>

  <p class="lead">
  <% if @produit.image.attached? %> 
  <%= image_tag(@produit.image, style: "width: 200px; display: block") %>
<% end %>
 </p>


<div class="column is-3 is-offset-1">
  <div class="bg-white pa4 border-radius-3">
    <h4 class="title is-5 has-text-centered"> <%= @produit.prix %> €</h4>
    <p class="has-text-centered mb4">Sold by  </p>
    <%= button_to 'Ajouter au panier', line_items_path(produit_id: @produit) %>
    
  </div>
</div>



  <hr class="my-4">
 
    <%= link_to "Edit", edit_produit_path(@produit), class:"btn btn-secondary" %> 

      <%= link_to "Delete", @produit, data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr ?"}, class: "btn btn-danger" %>
      
  <%= link_to "Back", produits_path, class:"btn btn-dark" %>

</div>