
<h1> Détails client </h1>

<div class="jumbotron">

  <h1 class="display-4">
    <%= @client.nom + " " + @client.prenom %>
  </h1>

  <p class="lead">
  <%= @client.id %> | 
  <%= @client.telephone %> | 
  <%= @client.mail %> |  
 
</p>

  <hr class="my-4">
 
    <%= link_to "Modifier", edit_client_path(@client), class:"btn btn-secondary" %> 
    <%= link_to "Supprimer", @client, data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr ?"}, class: "btn btn-danger" %>
    

</div>

  <h3> Commandes liées : </h3>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Nom commande</th>
        <th>Commentaires</th>
      </tr>
    </thead>

    <tbody>
      <% @commandes.each do |commande| %>
        <tr>          
          <td>  <%= link_to commande.nom, commande %> </td>
          <td>  <%= commande.comment %> </td>
        </tr>

      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "Nouvelle commande", new_commande_path(:client => params[:id]), class:"btn btn-primary" %>

</br> </br>

  <%= link_to "Retour", clients_path, class:"btn btn-dark" %>