
<h1> Détails item </h1>

<div class="jumbotron">
  <h1 class="display-4">
    <%= @item.nom %>
  </h1>

<p class="lead">
  <%= @item.commande_id %>
</p>

<p class="lead">
  Quantité : <%= @item.quantite %> 
  Prix : <%= @item.prix %> 
 </p>



<div>
  <%= link_to "Editer item", edit_item_path(@item), class: 'btn btn-primary' %> |
  <%= link_to "Retour to items", items_path, class: 'btn btn-secondary' %> |
  <%= button_to "Supprimer item", @item, method: :delete, class: 'btn btn-danger' %> 
</div>
